<div class="space-y-2 group">
  <label class="flex items-center gap-1 text-sm font-bold text-slate-700">
    {{ label }}

    @if (required) {
      <span class="text-red-500 text-xs">*</span>
    }
  </label>

  <ng-select
    class="custom-select"
    dropdownPanelClass="custom-select-panel"
    appendTo="body"
    [items]="options"
    [bindLabel]="optionLabel"
    [bindValue]="optionValue"
    [placeholder]="placeholder"
    [searchable]="searchable"
    [clearable]="clearable"
    [formControl]="control"
    [notFoundText]="'ไม่พบข้อมูล'"
    [typeToSearchText]="'พิมพ์เพื่อค้นหา'"
  >
  </ng-select>

  <app-input-error [control]="control" [label]="label" type="select" />
</div>
