<div class="space-y-2 group">
  <label class="flex items-center gap-1 text-sm font-bold text-slate-700">
    {{ label }}

    @if (required) {
      <span class="text-red-500 text-xs">*</span>
    }
  </label>

  <ng-select
    class="custom-select"
    dropdownPanelClass="custom-select-panel"
    appendTo="body"
    [items]="filteredOptions"
    [bindLabel]="optionLabel"
    [bindValue]="optionValue"
    [placeholder]="placeholder"
    [searchable]="false"
    [clearable]="clearable"
    [formControl]="control"
  >
    <ng-template ng-header-tmp>
      <div class="p-2">
        <input
          type="text"
          [(ngModel)]="searchText"
          placeholder="ค้นหา..."
          class="w-full rounded-lg border border-slate-300 px-3 py-2 text-sm focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-100"
        />
      </div>
    </ng-template>
  </ng-select>

  <app-input-error [control]="control" [label]="label" type="select" />
</div>
