<app-data-table
  title="ระบบจัดการประเภทการใช้งานครุภัณฑ์"
  subtitle="จัดการประเภทการใช้งานครุภัณฑ์ทั้งหมดที่มีในระบบ"
  [data]="assetUsageTypes()"
  [columns]="columns"
  [idKey]="'asset_category_id'"
  [isAdmin]="true"
  [sortOptions]="sortOptions"
  [totalItems]="assetUsageType?.count ?? 0"
  [pageSize]="Params.pageSize"
  [currentPage]="Params.pageNumber"
  (search)="onSearch($event)"
  (sortChange)="onSort($event)"
  (pageChange)="onPageChange($event)"
  (add)="goToCreate()"
  (edit)="goToEdit($event)"
  (delete)="deleteassetUsageType($event)"
>
</app-data-table>
