<app-data-table
  title="ระบบจัดการบุคลากร"
  subtitle="จัดการข้อมูลบุคลากรในระบบ"
  [data]="staffs()"
  [columns]="columns"
  [idKey]="'staff_id'"
  [isAdmin]="true"
  [showPathTo]="true"
  [Namepath]="'ดูข้อมูลพัสดุ'"
  [sortOptions]="sortOptions"
  [totalItems]="staff?.count ?? 0"
  [pageSize]="Params.pageSize"
  [currentPage]="Params.pageNumber"
  (search)="onSearch($event)"
  (sortChange)="onSort($event)"
  (pageChange)="onPageChange($event)"
  (add)="goToCreate()"
  (edit)="goToEdit($event)"
  (delete)="deletePrefixes($event)"
  (action)="handleTableAction($event)"
>
</app-data-table>
